<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Need fashion ideas? Checkout what we've got for you!</h2>
                <hr class="light">
                <p class="text-faded">Start using Glance today!</p>
                <a href="#" class="btn btn-default btn-xl">Yes, I want to get started!</a>
            </div>
        </div>
    </div>
</section>
