<section id="contact">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 text-center">
               <h2 class="section-heading">The Glance Team</h2>
               <hr class="primary">
               <p style="font-size:18px;">David Chen</p>
               <p style="font-size:18px;">Jared Heath</p>
               <p>We are proud members of the Dartmouth Computer Science Community (CS65/165)</p>
           </div>

       <div class="col-lg-2 col-lg-offset-4 text-center">
           <a href="https://github.com/ydavidchen/glance" target="_blank">
               <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
               <p>Site code</p>
           </a>
       </div>

       <div class="col-lg-2 col-lg-offset-0 text-center">
           <a href="https://gitlab.cs.dartmouth.edu/Jared/glance" target="_blank">
           <i class="fa fa-code fa-3x wow bounceIn" data-wow-delay=".1s"></i>
               <p>Project code</p>
           </a>
       </div>

   </div>
</section>
