<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Glance</h1>
            <br>
            <h2>A World's Fashion Consultant</h2>
            <hr>
            <h3>Did you ever want to discover a new look? Have you run into situations where you simply can't decide what to wear? No problem, we've got a solution for you. Glance is an Android app that helps you choose an outfit.</h3>
            <hr>
            <h3>Here is how Glance will be built: We will use the Android framework, integrating front-end UI, Firebase backend, and the Android Machine Learning (ML) module</h3>
            <hr>
            <h3>Check out our <a href="https://docs.google.com/presentation/d/1S-8dFKaSRl5_6x-XecUCCzTAnuDhRfCrdMmcmyeOGF8/" target="_blank">VC pitch slide deck</a></h3>
            <h4 href="#services" class="btn btn-primary btn-xl wow tada page-scroll">Find Out More!</h4>
        </div>
    </div>
</header>
