<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Glance</h1>
            <br>
            <h2>The world as your fashion consultant</h2>
            <hr>
            <h3>
              Ever have a hard time deciding which outfit to buy? Tired of wearing last year's trends?
              <br><br>
              Meet Glance, a sleek little Android app that helps you pick an outfit and find new looks.
            </h3>
            <hr>
            <h3>Check out our <a href="https://docs.google.com/presentation/d/1S-8dFKaSRl5_6x-XecUCCzTAnuDhRfCrdMmcmyeOGF8/" target="_blank">VC pitch slide deck</a></h3>
            <a href="#services" class="btn btn-primary btn-xl page-scroll" style="margin-top: 20px">How it works</a>
        </div>
    </div>
</header>
