<!-- A set of images to display -->
<section id="portfolio_ml" style="padding-bottom: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Showcase: AI Object Detection</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- Image block 1/3 -->
           <div class="col-lg-4 col-sm-6">
               <a href="#" class="portfolio-box">
                   <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category text-faded">
                               Machine/Deep Learning
                           </div>
                           <div class="project-name">
                               High-precision detection of clothing objects
                           </div>
                       </div>
                   </div>
               </a>
           </div>

           <!-- Image block 2/3  -->
           <div class="col-lg-4 col-sm-6">
               <a href="#" class="portfolio-box">
                   <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category text-faded">
                               Select desired clothing/accessories
                           </div>
                           <div class="project-name">
                               Example of selecting your outfit to receive vote
                           </div>
                       </div>
                   </div>
               </a>
           </div>

           <!-- Image block 3/3 -->
           <div class="col-lg-4 col-sm-6">
               <a href="#" class="portfolio-box">
                   <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                   <div class="portfolio-box-caption">
                       <div class="portfolio-box-caption-content">
                           <div class="project-category text-faded">
                               Select desired clothing/accessories
                           </div>
                           <div class="project-name">
                               Example of selecting your outfit to receive vote
                           </div>
                       </div>
                   </div>
               </a>
           </div>

        </div>

    </div>
</section>
