<!-- Replaced this section with "How you glance" -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How you "Glance"</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!--  Container for icons  -->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-camera wow bounceIn text-primary"></i>
                    <h4>Snap two photos of outfits you're deciding between</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-file-word-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Express your needs in words (e.g. votes from ladies, gents, or anyone?)</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>Post your glance and get votes on the better outfit within minutes</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Every time you vote on 10 outfit from other users, you can post one of your own</h4>
                </div>
            </div>
        </div>
    </div>

</section>
