<!-- Replaced this section with "How you glance" -->
<section id="services" style="padding-bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <!--  Container for icons  -->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-camera wow bounceIn text-primary"></i>
                    <h4>Snap two photos of outfits you're deciding between</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-pencil wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h4>Add a caption and choose who you want votes from</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h4>Post your Glance and get votes on the better outfit within minutes</h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-thumbs-up wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h4>Every time you vote on 10 Glances from other users, you can post one of your own</h4>
                </div>
            </div>
        </div>
    </div>

</section>
